.staff_pick_metadata-label {
  display: block;
}
.staff_pick_metadata-input {
  display: block;
  width: 100%;
}
#dashboard_right_now staff_picks-count a:before,
#dashboard_right_now staff_picks-count span:before {
  content: "\f331";
}
